body.page-template-closed {
	.site-content {

		.info {
			position: absolute;
			z-index: 100;
			width: 100vw;
			height: 100vh;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 2rem;

			.content {
				max-width: 40rem;
				width: 100%;
				background: rgba(81, 23, 29, 0.9);
				border: 4px solid rgba(255, 255, 255, 0.9);
				padding: 2rem;
			}

			.logo {
				max-width: 200px;

				img {
					width: 100%;
				}
			}

			.copy {
				padding-top: 2rem;
				color: $white;

				p {
					font-size: 1.25rem;
					line-height: 1.5em;
				}

				a {
					color: $white;
					text-decoration: underline;
				}
			}
		}

		.photo {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			img {
				width: 100vw;
				height: 100vh;
				object-fit: cover;
			}
		}
	}
}