footer {
	background: $white;
	color: $slate;

	.hrg {
		border-top-color: $slate;
	}

	.hrg h4 a,
	.hrg-wrapper .logo a {
		color: $slate !important;
	}

	.action .cta a.btn {
		color: $slate;
		border-color: $slate;

		&:hover {
			background-color: $slate;
			color: $white;
		}
	}
	
}