.site-header {

}


section.announcement {
	background: $burgundy;
	color: $white;
	text-align: center;
	padding: 20px;

	p {
		font-size: 0.875rem;
		line-height: 1.125em;

		@include tablet-landscape {
			font-size: 1rem;
		}
	}

	a {
		color: $white;
		font-weight: bold;
		text-decoration: underline;
		display: inline-block;
	}
}