body {
	background: $white;
}

::-moz-selection {
	background: $burgundy;
}

::selection {
	background: $burgundy;
}

.wrapper {
	@include wrapper-padding;
}

.grid {
	display: grid;

	&.two-col-grid {
		grid-template-columns: 1fr;

		@include mobile-landscape {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&.four-col-grid {
		grid-template-columns: 1fr;

		@include mobile-landscape {
			grid-template-columns: repeat(2, 1fr);
		}

		@include desktop {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}