/* Colors
----------------------------------*/
$white: #fff;
$black: #000;
$slate: #2D2A32;

$burgundy: #51171D;

/* Typography
----------------------------------*/
@import url("https://use.typekit.net/npo7rdz.css");

$din: din-condensed, sans-serif;
$serifa: serifa, serif;