/*

    ----------------------------------------------------------------------
                                01 Global
    ----------------------------------------------------------------------

*/
/* Colors
----------------------------------*/
/* Typography
----------------------------------*/
@import url("https://use.typekit.net/npo7rdz.css");
/* Media Queries
----------------------------------*/
html, input, textarea {
  -webkit-font-smoothing: antialiased; }

body {
  text-rendering: optimizeLegibility; }

body, input, textarea, button {
  color: #2D2A32;
  font: 400 100%/1 serifa, serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: din-condensed, sans-serif;
  font-weight: 700; }

a {
  color: #2D2A32;
  transition: all 0.2s ease-in-out; }

body {
  background: #fff; }

::-moz-selection {
  background: #51171D; }

::selection {
  background: #51171D; }

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 25px;
  transition: padding 0.2s ease-in; }
  @media screen and (min-width: 1024px) {
    .wrapper {
      padding: 0 50px; } }
  @media screen and (min-width: 1250px) {
    .wrapper {
      padding: 0; } }

.grid {
  display: grid; }
  .grid.two-col-grid {
    grid-template-columns: 1fr; }
    @media screen and (min-width: 568px) {
      .grid.two-col-grid {
        grid-template-columns: repeat(2, 1fr); } }
  .grid.four-col-grid {
    grid-template-columns: 1fr; }
    @media screen and (min-width: 568px) {
      .grid.four-col-grid {
        grid-template-columns: repeat(2, 1fr); } }
    @media screen and (min-width: 1280px) {
      .grid.four-col-grid {
        grid-template-columns: repeat(4, 1fr); } }

/*

    ----------------------------------------------------------------------
                                02 Sections
    ----------------------------------------------------------------------

*/
section.announcement {
  background: #51171D;
  color: #fff;
  text-align: center;
  padding: 20px; }
  section.announcement p {
    font-size: 0.875rem;
    line-height: 1.125em; }
    @media screen and (min-width: 1024px) {
      section.announcement p {
        font-size: 1rem; } }
  section.announcement a {
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
    display: inline-block; }

footer {
  background: #fff;
  color: #2D2A32; }
  footer .hrg {
    border-top-color: #2D2A32; }
  footer .hrg h4 a,
  footer .hrg-wrapper .logo a {
    color: #2D2A32 !important; }
  footer .action .cta a.btn {
    color: #2D2A32;
    border-color: #2D2A32; }
    footer .action .cta a.btn:hover {
      background-color: #2D2A32;
      color: #fff; }

/*

    ----------------------------------------------------------------------
                                03 Templates
    ----------------------------------------------------------------------

*/
body.home section.hero {
  height: 100vh; }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
    body.home section.hero {
      height: 850px; } }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
    body.home section.hero {
      height: 700px; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    body.home section.hero {
      height: 70vh; } }
  @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
    body.home section.hero {
      height: 700px; } }
  body.home section.hero .hero-image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  body.home section.hero .content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  body.home section.hero .logo {
    padding: 20px 0; }
    @media screen and (min-width: 768px) {
      body.home section.hero .logo {
        padding: 40px 0; } }
    body.home section.hero .logo img {
      width: 100%;
      max-width: 180px; }
  body.home section.hero .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  body.home section.hero .status-box {
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    flex: 1;
    padding: 5px; }
  body.home section.hero .box-wrapper {
    padding: 50px;
    border: 1px solid #2D2A32; }
    @media screen and (min-width: 1024px) {
      body.home section.hero .box-wrapper {
        padding: 50px 100px; } }
  body.home section.hero .status {
    margin-top: auto; }
    body.home section.hero .status .wrapper {
      max-width: 880px; }
    body.home section.hero .status .headline {
      padding-bottom: 25px; }
      body.home section.hero .status .headline h1 {
        color: #51171D;
        font-size: 3rem;
        text-transform: uppercase; }
        @media screen and (min-width: 768px) {
          body.home section.hero .status .headline h1 {
            font-size: 3.75rem; } }
        @media screen and (min-width: 1024px) {
          body.home section.hero .status .headline h1 {
            font-size: 4.5rem; } }
    body.home section.hero .status .copy p {
      font-size: 1.25rem;
      line-height: 1.5em; }
      @media screen and (min-width: 768px) {
        body.home section.hero .status .copy p {
          font-size: 1.5rem; } }
      @media screen and (min-width: 1024px) {
        body.home section.hero .status .copy p {
          font-size: 1.875rem; } }
      body.home section.hero .status .copy p + p {
        padding-top: 20px; }
        @media screen and (min-width: 1024px) {
          body.home section.hero .status .copy p + p {
            padding-top: 32px; } }
    body.home section.hero .status .copy a {
      font-weight: bold;
      text-decoration: underline; }
  body.home section.hero .contact {
    margin-top: auto;
    padding-bottom: 40px; }
  body.home section.hero .contact-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
    background: rgba(81, 23, 29, 0.8);
    border: 2px solid #fff; }
    body.home section.hero .contact-box a {
      color: #fff; }
      body.home section.hero .contact-box a:hover {
        text-decoration: underline; }
    body.home section.hero .contact-box .detail {
      padding: 20px;
      text-align: center; }
      body.home section.hero .contact-box .detail p {
        line-height: 1.125em; }
        @media screen and (min-width: 768px) {
          body.home section.hero .contact-box .detail p {
            font-size: 1.125rem; } }
    body.home section.hero .contact-box .address {
      width: 100%;
      border-bottom: 2px solid #fff;
      order: 1; }
      @media screen and (min-width: 568px) {
        body.home section.hero .contact-box .address br {
          display: none; } }
      @media screen and (min-width: 768px) {
        body.home section.hero .contact-box .address {
          width: 70%; } }
      @media screen and (min-width: 1024px) {
        body.home section.hero .contact-box .address {
          width: 100%; } }
      @media screen and (min-width: 1280px) {
        body.home section.hero .contact-box .address {
          width: 40%;
          border-bottom: none; } }
    body.home section.hero .contact-box .phone {
      width: 50%;
      order: 3; }
      @media screen and (min-width: 768px) {
        body.home section.hero .contact-box .phone {
          width: 30%;
          order: 2;
          border-bottom: 2px solid #fff;
          border-left: 2px solid #fff; } }
      @media screen and (min-width: 1024px) {
        body.home section.hero .contact-box .phone {
          width: 33.3333%;
          border-bottom: none; } }
      @media screen and (min-width: 1280px) {
        body.home section.hero .contact-box .phone {
          width: 15%; } }
    body.home section.hero .contact-box .email {
      width: 100%;
      border-bottom: 2px solid #fff;
      order: 2; }
      @media screen and (min-width: 768px) {
        body.home section.hero .contact-box .email {
          width: 50%;
          border-bottom: none;
          order: 3; } }
      @media screen and (min-width: 1024px) {
        body.home section.hero .contact-box .email {
          width: 33.3333%;
          border-left: 2px solid #fff; } }
      @media screen and (min-width: 1280px) {
        body.home section.hero .contact-box .email {
          width: 30%; } }
    body.home section.hero .contact-box .social {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      border-left: 2px solid #fff;
      order: 4; }
      @media screen and (min-width: 1024px) {
        body.home section.hero .contact-box .social {
          width: 33.3333%; } }
      @media screen and (min-width: 1280px) {
        body.home section.hero .contact-box .social {
          width: 15%; } }
      body.home section.hero .contact-box .social a {
        display: block; }
        body.home section.hero .contact-box .social a + a {
          margin-left: 40px; }
        body.home section.hero .contact-box .social a img {
          width: 100%;
          height: 100%;
          max-width: 30px;
          max-height: 24px; }

body.page-template-closed .site-content .info {
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem; }
  body.page-template-closed .site-content .info .content {
    max-width: 40rem;
    width: 100%;
    background: rgba(81, 23, 29, 0.9);
    border: 4px solid rgba(255, 255, 255, 0.9);
    padding: 2rem; }
  body.page-template-closed .site-content .info .logo {
    max-width: 200px; }
    body.page-template-closed .site-content .info .logo img {
      width: 100%; }
  body.page-template-closed .site-content .info .copy {
    padding-top: 2rem;
    color: #fff; }
    body.page-template-closed .site-content .info .copy p {
      font-size: 1.25rem;
      line-height: 1.5em; }
    body.page-template-closed .site-content .info .copy a {
      color: #fff;
      text-decoration: underline; }

body.page-template-closed .site-content .photo {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  body.page-template-closed .site-content .photo img {
    width: 100vw;
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover; }
